<a href="https://colab.research.google.com/github/tdogubo/data-analysis/blob/main/Tweets_preprocessing.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [37]:
!pip install -q tweepy emot

In [38]:
import os
import nltk
import tweepy
import pandas as pd
import re
import pickle
from getpass import getpass as gp
from emot.emo_unicode import EMOJI_UNICODE, EMOJI_ALIAS_UNICODE, EMOTICONS_EMO

In [39]:
api_key = gp("Input apikey:: ")
api_key_secret = gp("Input apikey secret:: ")
access_token = gp("Input access token:: ")
access_token_secret = gp("Input access token secret:: ")

Input apikey:: ··········
Input apikey secret:: ··········
Input access token:: ··········
Input access token secret:: ··········

In [40]:
auth = tweepy.OAuthHandler(api_key, api_key_secret)
auth.set_access_token(access_token,access_token_secret)

api = tweepy.API(auth)

In [64]:
public_tweets = api.user_timeline(screen_name ="@TechCabal", count = 1000, exclude_reply = True, include_rts= True)
public_tweets[:3]
len(public_tweets)

200

In [65]:
tweets=[]
for tweet in public_tweets:
  tweets.append([tweet._json["created_at"],tweet._json["text"]])

print(tweets)

[['Tue Feb 22 11:55:03 +0000 2022', 'TechCabal talks with Bunmi Adeoye, who heads investments in the tech, media, and telecom sector at ACA, about the k… https://t.co/dZluryZvDE'], ['Tue Feb 22 10:22:32 +0000 2022', 'After 9 cities across 8 countries in Africa, 150 businesses and over 2,000 individuals working out of its spaces, w… https://t.co/7bIb7IlL4H'], ['Tue Feb 22 09:28:33 +0000 2022', "RT @TechCabal: In this week's edition of #QuickFire, we interview Amel Saidane, a Tunisian entrepreneur who is a key player in North Africa…"], ['Tue Feb 22 09:11:52 +0000 2022', "Q1 '22 is not over yet and many more startups still have funding announcements on the way."], ['Tue Feb 22 09:11:52 +0000 2022', 'About 76% of the funding comes from the Big 4—Nigeria, South Africa, Kenya and Egypt—but Tunisia dealt huge numbers… https://t.co/X58ZZMQFh8'], ['Tue Feb 22 09:11:51 +0000 2022', 'Just two months into 2022 and African startups have already raised a whopping $1 billion across 130 funding deals,… https://t.co/sO5nVw7EL3'], ['Tue Feb 22 09:08:03 +0000 2022', 'How much do you think African startups will raise in 2022?'], ['Tue Feb 22 09:04:33 +0000 2022', 'The isolation of African artists during colonialism and early independence is a thing of the past for a group of Co… https://t.co/NZYSYvge5R'], ['Tue Feb 22 09:01:47 +0000 2022', 'RT @TechCabal: What sector do you think African tech founders are missing out on?'], ['Tue Feb 22 06:51:45 +0000 2022', 'TechCabal Daily – TikTok’s timely tackle ⌚ https://t.co/uAHEjwHDWP'], ['Tue Feb 22 06:24:33 +0000 2022', "Read today's edition of #TCDaily: - Did Zimbabwe disrupt internet access on Sunday? - TikTok's timely tackle - Who… https://t.co/S30F0KYdsY"], ['Mon Feb 21 17:51:03 +0000 2022', 'RT @TechCabal: African fintech giant Flutterwave on Friday announced a rebrand of its logo and dashboard as well as the addition of small b…'], ['Mon Feb 21 14:35:05 +0000 2022', 'RT @TechCabal: In 2021, crypto criminals made a killing, as illicit crypto transactions hit $14 billion, a 79% jump from the $7.8 billion r…'], ['Mon Feb 21 14:05:04 +0000 2022', 'In this edition of the Next Wave, we discussed how traditional banks need to learn how to leverage their huge repos… https://t.co/m5t0LlJLHk'], ['Mon Feb 21 12:18:06 +0000 2022', 'What sector do you think African tech founders are missing out on?'], ['Mon Feb 21 11:50:57 +0000 2022', 'RT @Babsbarokah: @TechCabal one of the newsletter I always look forward to. Educational and fun! \n\nYou can sign up here👇'], ['Mon Feb 21 10:54:55 +0000 2022', "Be like them and don't miss out on the most interesting daily roundup of tech and business news from around Africa.… https://t.co/wAuzHjDWt6"], ['Mon Feb 21 10:54:52 +0000 2022', "Our readers' stories!\n\nThis is the reason we do what we do. \n\nCheck this thread to see what our readers say about… https://t.co/r4sAU2eaJ8"], ['Mon Feb 21 09:44:19 +0000 2022', 'While you all are still waiting for an edit feature, Twitter recently rolled out a new feature that lets users pin… https://t.co/WMtwYdDZuq'], ['Mon Feb 21 07:51:19 +0000 2022', 'TechCabal Daily – Landmine craft  💣 https://t.co/EtJanrBn4C'], ['Mon Feb 21 06:54:02 +0000 2022', "Read today's edition of #TCDaily: - Flutterwave's new look - It's not a game - AliExpress and WeChat join the Notor… https://t.co/y9AudpszIk"], ['Mon Feb 21 05:32:33 +0000 2022', "RT @TechCabal: Read Friday's edition of #TCDaily: - Quick Fire 🔥 - MTN migrates from telecoms to tech - Thepeer launches a new product - TC…"], ['Sun Feb 20 16:02:33 +0000 2022', "RT @TechCabal: “Ckrowd's mission is to deliver economic value to African creators. The platform pays 70% of total income on content to crea…"], ['Sun Feb 20 15:05:33 +0000 2022', 'RT @TechCabal: What does it take to achieve operational excellence as a startup? In this BFGU Recap, Arnergy founder, Femi Adeyemo, shares…'], ['Sun Feb 20 14:38:02 +0000 2022', 'RT @TechCabal: Gozem has been on a product and geographic expansion drive since it was launched in Togo as a taxi-hailing service. Cameroon…'], ['Sun Feb 20 12:07:03 +0000 2022', 'RT @TechCabal: Earnipay, a fintech solution that provides flexible and on-demand salary access to income earners, has closed a seed round o…'], ['Sun Feb 20 05:32:35 +0000 2022', "RT @TechCabal: Read today's edition of #TCDaily: - Flutterwave becomes Africa's most valued startup - Why African startups are turning to d…"], ['Sat Feb 19 16:57:32 +0000 2022', 'RT @TechCabal: Africa’s biggest telecom company MTN is preparing for a brand refresh that’ll position it as a technology company, rather th…'], ['Sat Feb 19 16:05:23 +0000 2022', "Elizabeth is the CEO of @cyphercoders, the UK's leading coding school for children. \n\nOn Friday, she'll be sharing… https://t.co/dVLQRGr61E"], ['Sat Feb 19 16:05:22 +0000 2022', "As a founder, how do you motivate and inspire your team to achieve better results, especially in today's world of r… https://t.co/kpSqBMHKRQ"], ['Sat Feb 19 14:06:33 +0000 2022', 'RT @TechCabal: From consoles to smartphones, Africa’s tech-savvy youth population is driving significant growth in the billion-dollar gamin…'], ['Sat Feb 19 09:46:34 +0000 2022', 'RT @TechCabal: Consulting firm PwC estimates AI and related technologies will add more than $15 trillion to the global GDP by 2030. Current…'], ['Sat Feb 19 09:27:03 +0000 2022', "In this week's edition of #QuickFire, we interview Amel Saidane, a Tunisian entrepreneur who is a key player in Nor… https://t.co/ht3LNIl3tx"], ['Sat Feb 19 09:19:33 +0000 2022', 'RT @TechCabal: Fintech giant Flutterwave has raised $250m in its single-biggest funding round, valuing the startup at more than $3b. The co…'], ['Sat Feb 19 08:57:32 +0000 2022', 'RT @TechCabal: CrowdForce will use the capital to increase its PayForce agent network three-fold this year as well as deepen its financial…'], ['Sat Feb 19 08:08:02 +0000 2022', 'RT @TechCabal: There’s no available data on how much debt African startups have secured over the years. But several announcements last year…'], ['Sat Feb 19 05:35:03 +0000 2022', "RT @TechCabal: Read today's edition of #TCDaily: - Why Paystack's CEO is building a football club - EU launches a $169 billion investment p…"], ['Fri Feb 18 17:49:05 +0000 2022', 'African fintech giant Flutterwave on Friday announced a rebrand of its logo and dashboard as well as the addition o… https://t.co/ioiMnNlwzi'], ['Fri Feb 18 15:48:33 +0000 2022', "RT @TechCabal: This investment is half of the EU's €300 billion Global Gateway scheme, which was launched in December last year to create a…"], ['Fri Feb 18 14:33:05 +0000 2022', 'In 2021, crypto criminals made a killing, as illicit crypto transactions hit $14 billion, a 79% jump from the $7.8… https://t.co/JqMA0lhMSB'], ['Fri Feb 18 13:12:34 +0000 2022', "RT @TechCabal: In this edition of the Next Wave, we talked about Nigeria's talent problem and how startups would need to adopt a more nuanc…"], ['Fri Feb 18 12:36:12 +0000 2022', "Thank you for Joining today's edition of Building from Ground Up. \n\nOur next episode will hold February 25th. https://t.co/qpwPH1n02N"], ['Fri Feb 18 12:28:01 +0000 2022', 'How co - founders can work through idea clash or even arguement. https://t.co/xUtJgCqt2O'], ['Fri Feb 18 11:22:45 +0000 2022', 'How @HeliumHealth onboarded its first set of customers https://t.co/GeALIUFqhX'], ['Fri Feb 18 10:51:48 +0000 2022', 'https://t.co/wtjXgLhtUa'], ['Fri Feb 18 10:51:47 +0000 2022', 'How many co-founders should a startup have? https://t.co/K5h0NgUHeo'], ['Fri Feb 18 10:40:21 +0000 2022', '📌 https://t.co/p0cnGmnsm4'], ['Fri Feb 18 10:33:02 +0000 2022', 'Is it really compulsory to have a co-founder? https://t.co/3IVauROCTg'], ['Fri Feb 18 10:26:56 +0000 2022', 'https://t.co/a8mJxY1d33'], ['Fri Feb 18 10:22:01 +0000 2022', 'What makes a good co-founder?\n\nWe are now live with Tito Ovia and she is digging deep on how to find co-founders fo… https://t.co/yThyUdbM6k'], ['Fri Feb 18 09:09:21 +0000 2022', '"You can be anything you want to be in life."\n\nMTN: I am now a tech company https://t.co/KQ9Wk85es1'], ['Fri Feb 18 08:57:44 +0000 2022', 'Snapchat users will only be allowed to change their usernames once a year.'], ['Fri Feb 18 08:57:43 +0000 2022', 'Snapchat users can finally be able to change their usernames from February 23. \n\nTo access it, users tap the Bitmoj… https://t.co/z2CNpB8lFb'], ['Fri Feb 18 08:04:05 +0000 2022', 'The #BuildingFromGroundUp series is powered by the @ukngtechhub with TechCabal as an implementing partner.\n\n#BFGU… https://t.co/QkV2QxA7j8'], ['Fri Feb 18 08:01:10 +0000 2022', "It's TODAY!🤸🏽\u200d♂️\n\nIf you're an aspiring founder wondering if you need co-founders, or you do have co-founders but a… https://t.co/vhieJECojR"], ['Fri Feb 18 06:51:52 +0000 2022', 'TechCabal Daily – MTN’s makeover https://t.co/Qvmcaw3J1H'], ['Fri Feb 18 05:31:05 +0000 2022', "Read Friday's edition of #TCDaily: - Quick Fire 🔥 - MTN migrates from telecoms to tech - Thepeer launches a new pro… https://t.co/MMPCwHLeUj"], ['Thu Feb 17 17:34:04 +0000 2022', 'RT @TechCabal: “The work that we do is a kind of mental torture. Whatever I am living on is hand-to-mouth. I can’t save a cent. Sometimes I…'], ['Thu Feb 17 16:06:04 +0000 2022', 'RT @TechCabal: When the COVID lockdown was announced in March 2020, people stampeded shops to buy many months’ worth of food and supplies t…'], ['Thu Feb 17 16:01:03 +0000 2022', "“Ckrowd's mission is to deliver economic value to African creators. The platform pays 70% of total income on conten… https://t.co/ZVrY5HsyDe"], ['Thu Feb 17 15:04:33 +0000 2022', 'What does it take to achieve operational excellence as a startup? In this BFGU Recap, Arnergy founder, Femi Adeyemo… https://t.co/4dyrtMas18'], ['Thu Feb 17 14:55:03 +0000 2022', 'RT @TechCabal: After over 20 years of career and 14 years at MTN, Olubayo Adekanmbi will now be responsible for leading strategic business-…'], ['Thu Feb 17 14:36:03 +0000 2022', 'Gozem has been on a product and geographic expansion drive since it was launched in Togo as a taxi-hailing service.… https://t.co/PVpVsPfsOk'], ['Thu Feb 17 12:05:33 +0000 2022', 'Earnipay, a fintech solution that provides flexible and on-demand salary access to income earners, has closed a see… https://t.co/G6VO51tMjJ'], ['Thu Feb 17 11:09:33 +0000 2022', 'RT @TechCabal: In the last quarter alone, the company said that it saw 44% MoM growth and a 72% MoM increase in linked financial accounts o…'], ['Thu Feb 17 09:03:13 +0000 2022', 'For the latest umbilical cord cure for HIV, the treatment was applied in 2017 and now, years after numerous check-i… https://t.co/3g5Am0m24t'], ['Thu Feb 17 09:03:12 +0000 2022', 'The first treatment that cures H.I.V is bone marrow transplantation which is not only painful but also has side eff… https://t.co/KihnMpNLj9'], ['Thu Feb 17 09:03:12 +0000 2022', 'The doctors used a new HIV treatment that combines umbilical cord blood and blood from relatives. \n\nThe patient is… https://t.co/aJdjd5mDCo'], ['Thu Feb 17 09:03:11 +0000 2022', 'Medical scientists are making progress with the cure for H.I.V. \n\nLast week, researchers at the University of Calif… https://t.co/MotqdQ1fbF'], ['Thu Feb 17 06:51:38 +0000 2022', 'TechCabal Daily – Thrice the churn https://t.co/ZrSFbjzDyD'], ['Thu Feb 17 05:36:02 +0000 2022', "RT @TechCabal: Happy Valentine's Day! Here's what #TCDaily has for you: - South Africa sues Huawei - 11 African startups to watch in 2022 -…"], ['Thu Feb 17 05:31:02 +0000 2022', "Read today's edition of #TCDaily: - Flutterwave becomes Africa's most valued startup - Why African startups are tur… https://t.co/jWYQdO1wgI"], ['Wed Feb 16 20:06:15 +0000 2022', "Thinking about it now, Flutterwave is now Africa's most valued startup."], ['Wed Feb 16 19:32:42 +0000 2022', 'From telecoms to tech: MTN changes logo to look the part\n\nhttps://t.co/5n2fjdqcEv'], ['Wed Feb 16 18:55:34 +0000 2022', "What could happen when the Ghanaian gov't implements this new tax law?\n\nService charges for online businesses and t… https://t.co/7R9DS4VP80"], ['Wed Feb 16 18:55:33 +0000 2022', 'Recall that Ghana still has an e-levy bill that imposes a 1.75% charge on all electronic transactions. \n\nThe bill w… https://t.co/bcCQEH54qN'], ['Wed Feb 16 18:55:32 +0000 2022', 'Companies like Facebook, Tiktok and Twitter, as well as local startups present in Ghana, will be affected.\n\nReports… https://t.co/NjBMVaPj0H'], ['Wed Feb 16 18:55:32 +0000 2022', 'The Ghana Revenue Authority (GRA) revealed that it would start taxing betting, gaming, and e-commerce companies fro… https://t.co/VFrtMTpFrk'], ['Wed Feb 16 18:55:31 +0000 2022', 'Ghana wants to make GHC 2.7 Billion ($400 million) from taxes this year so they are taxing online businesses.\n\n1/5🧵 https://t.co/3uLq8DaqA2'], ['Wed Feb 16 18:38:56 +0000 2022', 'MTN has a new logo and is now a fully-fledged technology services company\n\nhttps://t.co/5n2fjdqcEv'], ['Wed Feb 16 18:34:43 +0000 2022', 'Before                                                               After https://t.co/fsBLZVPTn7'], ['Wed Feb 16 17:50:45 +0000 2022', "RT @DanielTAdeyemi: While y'all debating about who's won the fintech 'war' or who sold too early 😂\n\nMTN would rather you refer to it as a t…"], ['Wed Feb 16 16:56:03 +0000 2022', 'Africa’s biggest telecom company MTN is preparing for a brand refresh that’ll position it as a technology company,… https://t.co/WkZs0YVZ4l'], ['Wed Feb 16 16:27:47 +0000 2022', 'Sincerely, did\xa0Wordle\xa0get harder?'], ['Wed Feb 16 16:03:13 +0000 2022', 'RT @TechCabal: Absolutely no one\n\nNigerian startups every two business days: https://t.co/WdsUuJQI1h'], ['Wed Feb 16 14:32:03 +0000 2022', 'RT @TechCabal: We send out the best tech newsletter out of Africa. \n\nJoin over 40,000 subscribers who wake up to #tcdaily. \n\nSign up here:…'], ['Wed Feb 16 14:05:03 +0000 2022', 'From consoles to smartphones, Africa’s tech-savvy youth population is driving significant growth in the billion-dol… https://t.co/jfQ646CBUA'], ['Wed Feb 16 14:01:03 +0000 2022', 'How many co-founders do you think a startup needs?'], ['Wed Feb 16 09:45:04 +0000 2022', 'Consulting firm PwC estimates AI and related technologies will add more than $15 trillion to the global GDP by 2030… https://t.co/WEeuBEg8ew'], ['Wed Feb 16 09:18:04 +0000 2022', 'Fintech giant Flutterwave has raised $250m in its single-biggest funding round, valuing the startup at more than $3… https://t.co/eAWt5NFtNQ'], ['Wed Feb 16 08:56:04 +0000 2022', 'CrowdForce will use the capital to increase its PayForce agent network three-fold this year as well as deepen its f… https://t.co/TvwIIUNGBF'], ['Wed Feb 16 08:06:04 +0000 2022', 'There’s no available data on how much debt African startups have secured over the years. But several announcements… https://t.co/ZX3OyMuEsi'], ['Wed Feb 16 05:52:01 +0000 2022', 'TechCabal Daily – Heavy levy https://t.co/89jtH9bEmo'], ['Wed Feb 16 05:33:04 +0000 2022', "Read today's edition of #TCDaily: - Why Paystack's CEO is building a football club - EU launches a $169 billion inv… https://t.co/aRSk4KuFkE"], ['Tue Feb 15 16:30:21 +0000 2022', 'We send out the best tech newsletter out of Africa. \n\nJoin over 40,000 subscribers who wake up to #tcdaily. \n\nSign… https://t.co/ZnZzYb6gP1'], ['Tue Feb 15 15:47:33 +0000 2022', "This investment is half of the EU's €300 billion Global Gateway scheme, which was launched in December last year to… https://t.co/QYGKKafgPM"], ['Tue Feb 15 13:11:03 +0000 2022', "In this edition of the Next Wave, we talked about Nigeria's talent problem and how startups would need to adopt a m… https://t.co/DLdDHcFPmF"], ['Tue Feb 15 06:51:26 +0000 2022', 'TechCabal Daily – FairTags 📲 https://t.co/lfQ02QyYVC'], ['Tue Feb 15 05:36:03 +0000 2022', "Read today's edition of #TCDaily: - Facebook's African moderators aren't happy - From Wall Street to investing in A… https://t.co/sqTqdlTuTW"], ['Mon Feb 14 18:20:43 +0000 2022', 'The #BuildingFromGroundUp series is powered by the @ukngtechhub.\n\n#BFGU #UKNGTechHubs #DCMSTechHubs'], ['Mon Feb 14 18:20:42 +0000 2022', "Do you need a co-founder for that startup you're building? How hard is it to find one? @HeliumHealth has 3, some st… https://t.co/r1YCp3YLon"], ['Mon Feb 14 18:14:56 +0000 2022', 'Meet Oluwasoga Oni and Genevieve Barnard Oni, the lovers solving Nigeria’s medical diagnostics problem\n\nhttps://t.co/7TBGNtStGv'], ['Mon Feb 14 17:32:32 +0000 2022', 'RT @TechCabal: South Africa’s labour department has sued Chinese multinational technology group Huawei Technologies’ local business over al…'], ['Mon Feb 14 17:32:02 +0000 2022', '“The work that we do is a kind of mental torture. Whatever I am living on is hand-to-mouth. I can’t save a cent. So… https://t.co/oXvDS5irqC'], ['Mon Feb 14 17:18:57 +0000 2022', "It's almost over!\n\n I mean, you know, Valentine.\n\nDid you atleast get a love message from your bank app?"], ['Mon Feb 14 16:05:02 +0000 2022', 'When the COVID lockdown was announced in March 2020, people stampeded shops to buy many months’ worth of food and s… https://t.co/3rSaPDwCew'], ['Mon Feb 14 15:51:11 +0000 2022', 'RT @techcabal_pr: JengaX is Building a Knowledge Data Centre for African Founders\n\nFind Out More: https://t.co/UdJ4D4v0FS'], ['Mon Feb 14 14:53:04 +0000 2022', 'After over 20 years of career and 14 years at MTN, Olubayo Adekanmbi will now be responsible for leading strategic… https://t.co/K5Al4a5KOE'], ['Mon Feb 14 14:20:04 +0000 2022', 'RT @TechCabal: On average we invest between $100,000–$300,000 in a company. The typical sort of traction we need to see in companies is, th…'], ['Mon Feb 14 14:20:02 +0000 2022', 'RT @TechCabal: Here are 11 startups that we think you, our readers, should watch closely as we expect them to do some incredible stuff this…'], ['Mon Feb 14 13:18:20 +0000 2022', 'Uber users might soon be able to pay for rides with cryptocurrency. \n\nJust like Tesla, Uber is only waiting for cha… https://t.co/vIkrcyUViF'], ['Mon Feb 14 12:58:00 +0000 2022', "Meta doesn't really have NFT integrations on its social media platforms, but is allowing Facebook, Messenger and IG… https://t.co/mPgaQCZfde"], ['Mon Feb 14 12:41:54 +0000 2022', 'YouTube has also recently announced plans to integrate NFTs to its platforms.'], ['Mon Feb 14 12:41:52 +0000 2022', 'A list of social media platforms that have integrated NFTs on their platforms:\n\nTwitter: currently allows\xa0Twitter B… https://t.co/pNUoijQoim'], ['Mon Feb 14 12:31:39 +0000 2022', 'YouTube says integrating NFTs will give users a “verifiable way for fans to own unique videos, photos, art, and eve… https://t.co/sJNYE1vd7w'], ['Mon Feb 14 11:08:04 +0000 2022', 'In the last quarter alone, the company said that it saw 44% MoM growth and a 72% MoM increase in linked financial a… https://t.co/WwBFB3s9ob'], ['Mon Feb 14 10:38:02 +0000 2022', 'RT @TechCabal: Nigeria has set in motion what could herald a new dawn for African tech startups as it moots the adoption of new listing rul…'], ['Mon Feb 14 06:53:37 +0000 2022', 'On investing in almost 90 startups within 18 months.\n\n"I think we move that fast because when you’re at the seed st… https://t.co/bQTjLUbf7V'], ['Mon Feb 14 06:30:00 +0000 2022', '"There are hidden relationships between the Nigerian and Israeli tech communities. It’s not at an all-time high tho… https://t.co/jDSGbfwSt5'], ['Mon Feb 14 06:00:00 +0000 2022', "Good morning, it's really not your fault that you are spending valentine's day alone."], ['Mon Feb 14 05:52:22 +0000 2022', 'TechCabal Daily – Data daycare https://t.co/dK1BowZZ7E'], ['Mon Feb 14 05:38:02 +0000 2022', "RT @TechCabal: Read Friday's edition of #TCDaily: - Quick Fire 🔥 - Tesla is getting spaced out - TechCabal's Valentine's Gift Guide - TC In…"], ['Mon Feb 14 05:34:03 +0000 2022', "Happy Valentine's Day! Here's what #TCDaily has for you: - South Africa sues Huawei - 11 African startups to watch… https://t.co/qod2dUKTmg"], ['Sun Feb 13 15:17:58 +0000 2022', '📌 @OdunEweniyi https://t.co/5

In [66]:
tweets_df = pd.DataFrame(tweets, columns =["created_at", "tweets"])
tweets_df

                         created_at                                             tweets
0    Tue Feb 22 11:55:03 +0000 2022  TechCabal talks with Bunmi Adeoye, who heads i...
1    Tue Feb 22 10:22:32 +0000 2022  After 9 cities across 8 countries in Africa, 1...
2    Tue Feb 22 09:28:33 +0000 2022  RT @TechCabal: In this week's edition of #Quic...
3    Tue Feb 22 09:11:52 +0000 2022  Q1 '22 is not over yet and many more startups ...
4    Tue Feb 22 09:11:52 +0000 2022  About 76% of the funding comes from the Big 4—...
..                              ...                                                ...
195  Tue Feb 08 18:36:09 +0000 2022  Join @arnergy's CEO, @femiadeyemo on #BFGU thi...
196  Tue Feb 08 17:53:22 +0000 2022  RT @genesystechhub: @TechCabal Canva designers...
197  Tue Feb 08 16:35:03 +0000 2022  Meta said that while it's winding down Express...
198  Tue Feb 08 16:05:48 +0000 2022  In April 2021, Spotify launched the Spotify EQ...
199  Tue Feb 08 16:05:47 +0000 2022  .@Asa_official has been announced as the Spoti...

[200 rows x 2 columns]

In [67]:
import re
def remove_emoji(string):
    emoji_pattern = re.compile("["
                           u"\U0001F600-\U0001F64F" # emoticons
                           u"\U0001F300-\U0001F5FF" # symbols & pictographs
                           u"\U0001F680-\U0001F6FF" # transport & map symbols
                           u"\U0001F1E0-\U0001F1FF" # flags (iOS)
                           u"\U00002702-\U000027B0"
                           u"\U000024C2-\U0001F251"
                           "]+", flags=re.UNICODE)
    
    return emoji_pattern.sub(r'', string)
def convert_emojis(text):
      for emot in EMOJI_UNICODE:
          if EMOJI_UNICODE[emot] in text:
            text= text.replace(EMOJI_UNICODE[emot] , emot.replace(":","").replace("_"," "))
      return text
# Example
tweets_df['tweets_without_emojis']= tweets_df['tweets'].apply(lambda x: convert_emojis(x))
tweets_df
# text1 = "Hilarious 😂. The feeling of making a sale 😎, The feeling of actually fulfilling orders 😒"
# convert_emojis(text1)

                         created_at  ...                              tweets_without_emojis
0    Tue Feb 22 11:55:03 +0000 2022  ...  TechCabal talks with Bunmi Adeoye, who heads i...
1    Tue Feb 22 10:22:32 +0000 2022  ...  After 9 cities across 8 countries in Africa, 1...
2    Tue Feb 22 09:28:33 +0000 2022  ...  RT @TechCabal: In this week's edition of #Quic...
3    Tue Feb 22 09:11:52 +0000 2022  ...  Q1 '22 is not over yet and many more startups ...
4    Tue Feb 22 09:11:52 +0000 2022  ...  About 76% of the funding comes from the Big 4—...
..                              ...  ...                                                ...
195  Tue Feb 08 18:36:09 +0000 2022  ...  Join @arnergy's CEO, @femiadeyemo on #BFGU thi...
196  Tue Feb 08 17:53:22 +0000 2022  ...  RT @genesystechhub: @TechCabal Canva designers...
197  Tue Feb 08 16:35:03 +0000 2022  ...  Meta said that while it's winding down Express...
198  Tue Feb 08 16:05:48 +0000 2022  ...  In April 2021, Spotify launched the Spotify EQ...
199  Tue Feb 08 16:05:47 +0000 2022  ...  .@Asa_official has been announced as the Spoti...

[200 rows x 3 columns]

In [68]:
import string
string.punctuation
#defining the function to remove punctuation

def remove_punctuation(text):
    punctuationfree="".join([i for i in text if i not in string.punctuation])
    return punctuationfree
#storing the puntuation free text
tweets_df['clean_tweets']= tweets_df['tweets_without_emojis'].apply(lambda x:remove_punctuation(x))
tweets_df.head()

                       created_at  ...                                       clean_tweets
0  Tue Feb 22 11:55:03 +0000 2022  ...  TechCabal talks with Bunmi Adeoye who heads in...
1  Tue Feb 22 10:22:32 +0000 2022  ...  After 9 cities across 8 countries in Africa 15...
2  Tue Feb 22 09:28:33 +0000 2022  ...  RT TechCabal In this weeks edition of QuickFir...
3  Tue Feb 22 09:11:52 +0000 2022  ...  Q1 22 is not over yet and many more startups s...
4  Tue Feb 22 09:11:52 +0000 2022  ...  About 76 of the funding comes from the Big 4—N...

[5 rows x 4 columns]

In [69]:
tweets_df['tweets_lower']= tweets_df['clean_tweets'].apply(lambda x: x.lower())
tweets_df

                         created_at  ...                                       tweets_lower
0    Tue Feb 22 11:55:03 +0000 2022  ...  techcabal talks with bunmi adeoye who heads in...
1    Tue Feb 22 10:22:32 +0000 2022  ...  after 9 cities across 8 countries in africa 15...
2    Tue Feb 22 09:28:33 +0000 2022  ...  rt techcabal in this weeks edition of quickfir...
3    Tue Feb 22 09:11:52 +0000 2022  ...  q1 22 is not over yet and many more startups s...
4    Tue Feb 22 09:11:52 +0000 2022  ...  about 76 of the funding comes from the big 4—n...
..                              ...  ...                                                ...
195  Tue Feb 08 18:36:09 +0000 2022  ...  join arnergys ceo femiadeyemo on bfgu this fri...
196  Tue Feb 08 17:53:22 +0000 2022  ...  rt genesystechhub techcabal canva designers ar...
197  Tue Feb 08 16:35:03 +0000 2022  ...  meta said that while its winding down express ...
198  Tue Feb 08 16:05:48 +0000 2022  ...  in april 2021 spotify launched the spotify equ...
199  Tue Feb 08 16:05:47 +0000 2022  ...  asaofficial has been announced as the spotify ...

[200 rows x 5 columns]

In [70]:
#defining function for tokenization
import re
def tokenization(text):
    tokens = re.split('W+',text)
    return tokens
#applying function to the column
tweets_df['tweets_tokenied']= tweets_df['tweets_lower'].apply(lambda x: tokenization(x))
tweets_df[:5]
tweets_df.shape

(200, 6)

In [71]:
#Stop words present in the library
nltk.download('stopwords')
stopwords = nltk.corpus.stopwords.words('english')
stopwords[0:10]

[nltk_data] Downloading package stopwords to /root/nltk_data...
[nltk_data]   Package stopwords is already up-to-date!

['i', 'me', 'my', 'myself', 'we', 'our', 'ours', 'ourselves', 'you', "you're"]

In [72]:
def remove_stopwords(text):
    output= [i for i in text if i not in stopwords]
    return output

  #applying the function
tweets_df['tweets_no_stopwords']= tweets_df['tweets_tokenied'].apply(lambda x:remove_stopwords(x))
tweets_df[:5]

                       created_at  ...                                tweets_no_stopwords
0  Tue Feb 22 11:55:03 +0000 2022  ...  [techcabal talks with bunmi adeoye who heads i...
1  Tue Feb 22 10:22:32 +0000 2022  ...  [after 9 cities across 8 countries in africa 1...
2  Tue Feb 22 09:28:33 +0000 2022  ...  [rt techcabal in this weeks edition of quickfi...
3  Tue Feb 22 09:11:52 +0000 2022  ...  [q1 22 is not over yet and many more startups ...
4  Tue Feb 22 09:11:52 +0000 2022  ...  [about 76 of the funding comes from the big 4—...

[5 rows x 7 columns]

In [73]:
#importing the Stemming function from nltk library
from nltk.stem.porter import PorterStemmer
#defining the object for stemming
porter_stemmer = PorterStemmer()
#defining a function for stemming
def stemming(text):
  stem_text = [porter_stemmer.stem(word) for word in text]
  return stem_text

tweets_df['tweets_stemmed']=tweets_df['tweets_no_stopwords'].apply(lambda x: stemming(x))
tweets_df[:5]

                       created_at  ...                                     tweets_stemmed
0  Tue Feb 22 11:55:03 +0000 2022  ...  [techcabal talks with bunmi adeoye who heads i...
1  Tue Feb 22 10:22:32 +0000 2022  ...  [after 9 cities across 8 countries in africa 1...
2  Tue Feb 22 09:28:33 +0000 2022  ...  [rt techcabal in this weeks edition of quickfi...
3  Tue Feb 22 09:11:52 +0000 2022  ...  [q1 22 is not over yet and many more startups ...
4  Tue Feb 22 09:11:52 +0000 2022  ...  [about 76 of the funding comes from the big 4—...

[5 rows x 8 columns]

In [74]:
nltk.download('wordnet')
from nltk.stem import WordNetLemmatizer
#defining the object for Lemmatization
wordnet_lemmatizer = WordNetLemmatizer()
#defining the function for lemmatization
def lemmatizer(text):
  lemm_text = [wordnet_lemmatizer.lemmatize(word) for word in text]
  return lemm_text
tweets_df['tweets_lemmatized']=tweets_df['tweets_no_stopwords'].apply(lambda x:lemmatizer(x))
tweets_df[:5]

[nltk_data] Downloading package wordnet to /root/nltk_data...
[nltk_data]   Package wordnet is already up-to-date!

                       created_at  ...                                  tweets_lemmatized
0  Tue Feb 22 11:55:03 +0000 2022  ...  [techcabal talks with bunmi adeoye who heads i...
1  Tue Feb 22 10:22:32 +0000 2022  ...  [after 9 cities across 8 countries in africa 1...
2  Tue Feb 22 09:28:33 +0000 2022  ...  [rt techcabal in this weeks edition of quickfi...
3  Tue Feb 22 09:11:52 +0000 2022  ...  [q1 22 is not over yet and many more startups ...
4  Tue Feb 22 09:11:52 +0000 2022  ...  [about 76 of the funding comes from the big 4—...

[5 rows x 9 columns]

In [75]:
from textblob import TextBlob
# function to calculate subjectivity
# def getSubjectivity(review):
#   return TextBlob(review).sentiment.subjectivity
# function to calculate polarity
def getPolarity(review):
  stem_text = [porter_stemmer.stem(word) for word in review]
  # return stem_text
  return TextBlob(stem_text[0]).sentiment.polarity

# function to analyze the reviews
def analysis(score):
    if score < 0:
        return 'Negative'
    elif score == 0:
        return 'Neutral'
    else:
        return 'Positive'

In [76]:
sentiment_df = pd.DataFrame(tweets_df[['tweets', 'tweets_lemmatized']])
# fin_data['Subjectivity'] = fin_data['Lemma'].apply(getSubjectivity) 
sentiment_df['Polarity'] = sentiment_df['tweets_lemmatized'].apply(lambda x:getPolarity(x)) 
sentiment_df['Analysis'] = sentiment_df['Polarity'].apply(analysis)
sentiment_df

                                                tweets  ...  Analysis
0    TechCabal talks with Bunmi Adeoye, who heads i...  ...   Neutral
1    After 9 cities across 8 countries in Africa, 1...  ...   Neutral
2    RT @TechCabal: In this week's edition of #Quic...  ...   Neutral
3    Q1 '22 is not over yet and many more startups ...  ...  Positive
4    About 76% of the funding comes from the Big 4—...  ...  Positive
..                                                 ...  ...       ...
195  Join @arnergy's CEO, @femiadeyemo on #BFGU thi...  ...   Neutral
196  RT @genesystechhub: @TechCabal Canva designers...  ...   Neutral
197  Meta said that while it's winding down Express...  ...  Negative
198  In April 2021, Spotify launched the Spotify EQ...  ...   Neutral
199  .@Asa_official has been announced as the Spoti...  ...   Neutral

[200 rows x 4 columns]

In [77]:
export_df = pd.DataFrame(sentiment_df[['tweets', 'Analysis']])
export_df[:7]

                                              tweets  Analysis
0  TechCabal talks with Bunmi Adeoye, who heads i...   Neutral
1  After 9 cities across 8 countries in Africa, 1...   Neutral
2  RT @TechCabal: In this week's edition of #Quic...   Neutral
3  Q1 '22 is not over yet and many more startups ...  Positive
4  About 76% of the funding comes from the Big 4—...  Positive
5  Just two months into 2022 and African startups...   Neutral
6  How much do you think African startups will ra...  Positive

In [78]:
export_df.to_csv("tweets.csv")